.image-grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.image-container {
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.status-message{
    width: 100%;
    margin-bottom: 10px;
}
.image-group{
    width: 20%;
    height: 200px;
    margin-bottom: 20px;
    padding-right: 10px;
}
.image-group img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
